[submodule "sound-package"]
	path = sound-package
	url = https://github.com/GyutaeLee/Unity-Useful-Packages.git
[submodule "Unity-Utility-Package"]
	path = Unity-Utility-Package
	url = https://github.com/GyutaeLee/Unity-Utility-Package.git
[submodule "Unity-UI-Package"]
	path = Unity-UI-Package
	url = https://github.com/GyutaeLee/Unity-UI-Package.git
